<html>
    <head>
        <title>Гостевая книга</title>
    </head>
    <link rel="stylesheet" href="/static/style.css">

    <body>
        <div id="container">
            <img src="/static/logo.jpg" width="400" />

            <p class="error">{{error}}</p>

            <form method="POST">
                <label>Имя *</label>
                <br />
                <input type="text" name="name" />
                <br />

                <label>Сообщение *</label>
                <br />
                <textarea name="message"></textarea>
                <br />

                <button type="submit">Отправить</button>
            </form>
        
            {% for post in posts %}
                <div>
                    <h3>{{post.name}}</h3>
                    <p>{{post.message}}</p>
                    <p><small>{{post.created}}</small></p>
                </div>
                <hr />
            {% endfor %}
        </div>
    </body>
</html>